.alert {
        padding: 20px;
        color: white;
        opacity: 1;
        transition: opacity 0.6s;
        margin-bottom: 15px;
        margin-top: 10px;
    }

strong {text-align: center;}

.successful {background-color: #4CAF50;}

.fail {background-color: #f44336;}

.btnclose {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {color: #000;}
}

table {
    caption h2 {text-align: center;}

    border: 1px solid #000;
    border-collapse: collapse;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;

    th, td {
        border-collapse: collapse;
        border: 1px solid #000;
        text-align: center;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }

    tr:nth-child(even){background-color: #f2f2f2}
}

.addButtons {
    display: flex;
    justify-content: space-around;

    .addSession, .addReservation {
        color: #fff;
        background-color: #467D9A;
        font-size: 22px;
        text-decoration: none;
        padding: 10px;
        margin-top: 10px;
        border-radius: 8px;
    }
}

.back {
    color: #fff;
    background-color: #467D9A;
    font-size: 15px;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}